
.base-button-next {
    display: block;
    font-size: 24px;
    padding: 16px 42px;
    background-color: #009260;
    color: white !important; 
    border-radius: 8px;
    margin-top: 2em;
    width: max-content;
    text-align: center;
    text-decoration: none;
}

.base-button-next:disabled {
    background-color: lightgrey !important;
}